
main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    max-height: 100%;
    padding: 1rem 2rem;
    background-color: lightyellow;

    .pageActive {
        display: block !important;
    }

    #login-page {
        display: none;

        #login-form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2rem;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 5px;
            background-color: aliceblue;
            padding: 1rem 2rem;

            h1 {
                margin-bottom: 1rem;
            }

            #username, #chat-btn, #joinRoom-btn{
                padding: 0.5rem 1rem;
                margin-bottom: 1.5rem;
                width: 80%;
            }

            #chat-btn, #joinRoom-btn {
                border-radius: 5px;
                font-size: 1.1rem;
                font-weight: 600;
                color: white;

                &:hover {
                    cursor: pointer;
                }
            }

            #chat-btn {
                background-color: #166fe5;
            }

            #joinRoom-btn {
                background-color: #31ac47;
            }
        }
    }

    #homepage {
        display: none;

        #top-cont {
            display: flex;
            justify-content: space-between;
            align-items:center;
            width: 100%;
            margin-bottom: 1rem;

            h1 {
                color: darkslateblue;
                display: inline-block;
            }

            .username {
                display: inline-block;
                border: 1.5px solid black;
                background-color: darkslateblue;
                border-radius: 5px;
                padding: .2rem 0.5rem;
                width: fit-content;
                outline: none;
                font-size: 0.9rem;
                font-weight: 600;
                color: white;
            }
        }

        #msg_cont {
            border: 5px solid black;
            background-color: azure;
            width: 100%;
            min-height: 100px;
            max-height: 200px;
            border-radius: 2px;
            padding: 1rem;
            overflow: scroll;

            .join {
                width: fit-content;
                min-height: 25px;
                margin-bottom: 0.3rem;
                font-size: 0.7rem;
                padding: 0.2rem 0.4rem;
                display: flex;
                align-items: center;
                font-weight: 600;
            }

            .msg {
                border-left: 0.5px solid darkslateblue;
                padding-left: 0.5rem;
                .text {
                    width: fit-content;
                    min-height: 25px;
                    border: 0.5px solid darkslateblue;
                    margin-bottom: 0.3rem;
                    border-radius: 5px;
                    font-size: 0.8rem;
                    padding: 0.2rem 0.4rem;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    outline: none;
                }
    
                .time {
                    width: fit-content;
                    border: 0.5px solid darkslateblue;
                    border-radius: 5px;
                    font-size: 0.6rem;
                    padding: 0.1rem 0.2rem;
                    margin-bottom: 0.8rem;
                    outline: none;
                }
            }
        }

        #msg_input_cont {
            width: 100%;
            margin-top: 1rem;

            #msg_input {
                border: 1px solid black;
                background-color: lightcyan;
                padding: .5rem 1rem;
                margin-right: 1rem;
                border-radius: 2px;
                width: 100%;
                margin-bottom: 0.5rem;
            }

            #send_msg_btn {
                padding: 0.25rem .5rem;
                border-radius: 5px;
                background-color: lightblue;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }
            }
                
        }
    }

    #joinRoom-page {
        display: none;

        #joinRoom-form {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 2rem;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 5px;
            background-color: aliceblue;
            padding: 1rem 2rem;

            h1 {
                margin-bottom: 1rem;
            }

            #username, #roomNum, #joinRoom-btn{
                padding: 0.5rem 1rem;
                margin-bottom: 1.5rem;
                width: 80%;
            }

            #joinRoom-btn {
                background-color: #166fe5;
                border-radius: 5px;
                font-size: 1.1rem;
                font-weight: 600;
                color: white;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #homepage-room {
        display: none;

        #top-cont {
            display: flex;
            justify-content: space-between;
            align-items:center;
            width: 100%;
            margin-bottom: 1rem;

            h1 {
                color: darkslateblue;
                display: inline-block;
            }

            .username {
                display: inline-block;
                border: 1.5px solid black;
                background-color: darkslateblue;
                border-radius: 5px;
                padding: .2rem 0.5rem;
                width: fit-content;
                outline: none;
                font-size: 0.9rem;
                font-weight: 600;
                color: white;
            }
        }

        #msg_cont {
            border: 5px solid black;
            background-color: azure;
            width: 100%;
            min-height: 100px;
            max-height: 200px;
            border-radius: 2px;
            padding: 1rem;
            overflow: scroll;

            .join {
                width: fit-content;
                min-height: 25px;
                margin-bottom: 0.3rem;
                font-size: 0.7rem;
                padding: 0.2rem 0.4rem;
                display: flex;
                align-items: center;
                font-weight: 600;
            }

            .msg {
                border-left: 0.5px solid darkslateblue;
                padding-left: 0.5rem;
                .text {
                    width: fit-content;
                    min-height: 25px;
                    border: 0.5px solid darkslateblue;
                    margin-bottom: 0.3rem;
                    border-radius: 5px;
                    font-size: 0.8rem;
                    padding: 0.2rem 0.4rem;
                    display: flex;
                    align-items: center;
                    background-color: white;
                    outline: none;
                }
    
                .time {
                    width: fit-content;
                    border: 0.5px solid darkslateblue;
                    border-radius: 5px;
                    font-size: 0.6rem;
                    padding: 0.1rem 0.2rem;
                    margin-bottom: 0.8rem;
                    outline: none;
                }
            }
        }

        #msg_input_cont {
            width: 100%;
            margin-top: 1rem;

            #msg_input {
                border: 1px solid black;
                background-color: lightcyan;
                padding: .5rem 1rem;
                margin-right: 1rem;
                border-radius: 2px;
                width: 100%;
                margin-bottom: 0.5rem;
            }

            #send_msg_btn {
                padding: 0.25rem .5rem;
                border-radius: 5px;
                background-color: lightblue;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }
            }
                
        }
    }

}


@media screen and (min-width: 700px) {
    #login-page {
        min-width: 700px;
    }

    #homepage {
        min-width: 700px;
    }

    #joinRoom-page {
        min-width: 700px;
    }

    #homepage-room {
        min-width: 700px;
    }
}

@media screen and (max-width: 700px) {
    .msg {
        width: fit-content;
        min-height: 25px;
        border-left: 0.5px solid darkslateblue;
        margin-bottom: 0.3rem;
        font-size: 0.8rem;
        padding: 0.2rem 0.4rem;
        outline: none;
    }
    
}





    


